<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" ui-sref="home">StamplayFood</a>
	    <ul class="nav">
        <li ng-class="{active: routeIs('')}"><a ui-sref="home">Home</a></li>
        <li ng-class="{active: routeIs('how-it-works')}"><a ui-sref="how-it-works">How it works</a></li>
      </ul>

      <ul class="nav pull-right">
        <li ng-show="logged" ng-class="{active: routeIs('logout')}">
          <a ng-click="logout()">Logout</a>
        </li>
        <li ng-hide="logged" ng-class="{active: routeIs('login')}">
          <a ui-sref="login">Login</a>
        </li>
      </ul>
    </div>
  </div>